{% extends 'base.html.twig' %}

{% block title %}New Listing{% endblock %}

{% block body %}
{% include "base.html.twig" %}
    <style>
       form div{
           margin-bottom:20px;
       }
       form div div input{
           margin-left:50px;
       }
       #container{
           background-color: powderblue;
       }
    </style>

    <div id ="container" class ="container">
    <h3>Create new Listing</h3>
    {{ include('listing/_form.html.twig') }}
    </div>

{% endblock %}
